<p-table [value]="clientes">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clientes>
        <tr>
            <td>{{clientes.id}}</td>
            <td>{{clientes.nombreCliente}}</td>
            <td>{{clientes.direccionCliente}}</td>
            <td>{{clientes.telefonoCliente}}</td>
            <td>{{clientes.correoCliente}}</td>
        </tr>
    </ng-template>
</p-table>
